/* 
// css
:root {
    --ifm-color-primary: #b81919;
    --ifm-color-primary-dark: #a61717;
    --ifm-color-primary-darker: #9c1515;
    --ifm-color-primary-darkest: #811212;
    --ifm-color-primary-light: #ca1c1c;
    --ifm-color-primary-lighter: #d41d1d;
    --ifm-color-primary-lightest: #e22d2d;
  } 
*/
